In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('Countries.csv')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 43 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   Entity                                                182 non-null    object
 1   indiv_libs_vdem_owid                                  177 non-null    float64
 2   electdem_vdem_owid                                    177 non-null    float64
 3   libdem_vdem_owid                                      175 non-null    float64
 4   Countries                                             165 non-null    object
 5   Economic.Freedom.Summary.Index                        182 non-null    float64
 6   Government.consumption                                182 non-null    float64
 7   Transfers.and.subsidies                               182 non-null    float64
 8   Government.investment                                 182 non-null    float64
 9   State.ownership.of.assets                             182 non-null    float64
 10  Size.of.Government                                    182 non-null    float64
 11  Judicial.independence                                 182 non-null    float64
 12  Impartial.courts                                      182 non-null    float64
 13  Integrity.of.the.legal.system                         182 non-null    float64
 14  Legal.enforcement.of.contracts                        182 non-null    float64
 15  Gender.Legal.Rights.Adjustment                        182 non-null    float64
 16  Legal.System...Property.Rights                        182 non-null    float64
 17  Money.growth                                          182 non-null    float64
 18  Standard.deviation.of.inflation                       182 non-null    float64
 19  Inflation..Most.recent.year                           182 non-null    float64
 20  Freedom.to.own.foreign.currency.bank.accounts         182 non-null    float64
 21  Sound.Money                                           182 non-null    float64
 22  Revenue.from.trade.taxes....of.trade.sector.          182 non-null    float64
 23  Tariffs                                               182 non-null    float64
 24  Black.market.exchange.rates                           182 non-null    float64
 25  Financial.Openness                                    182 non-null    float64
 26  Capital.controls                                      182 non-null    float64
 27  Controls.of.the.movement.of.capital.and.people        182 non-null    float64
 28  Freedom.to.trade.Internationally                      182 non-null    float64
 29  Ownership.of.banks                                    182 non-null    float64
 30  Private.sector.credit                                 182 non-null    float64
 31  Interest.rate.controls.negative.real.interest.rates.  182 non-null    float64
 32  Credit.market.regulations                             182 non-null    float64
 33  Centralized.collective.bargaining                     182 non-null    float64
 34  Hours.Regulations                                     182 non-null    float64
 35  Conscription                                          182 non-null    float64
 36  Labor.market.regulations                              182 non-null    float64
 37  Impartial.Public.Administration                       182 non-null    float64
 38  Regulation                                            182 non-null    float64
 39  alliance                                              182 non-null    object
 40  regimenarrowcat                                       161 non-null    float64
 41  Regime_type                                           182 non-null    object
 42  id                                                    182 non-null    int64
dtypes: float64(38), int64(1), object(4)
memory usage: 61.3+ KB

In [12]:
df.describe()

,indiv_libs_vdem_owid,electdem_vdem_owid,libdem_vdem_owid,Economic.Freedom.Summary.Index,Government.consumption,Transfers.and.subsidies,Government.investment,State.ownership.of.assets,Size.of.Government,Judicial.independence,...,Interest.rate.controls.negative.real.interest.rates.,Credit.market.regulations,Centralized.collective.bargaining,Hours.Regulations,Conscription,Labor.market.regulations,Impartial.Public.Administration,Regulation,regimenarrowcat,id
count,177.000000,177.000000,175.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,...,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,182.000000,161.000000,182.000000
mean,0.433633,0.271169,0.205794,5.497105,6.397742,8.750740,5.512288,5.014970,6.040210,5.093428,...,7.431721,5.299373,5.899200,5.938018,2.390425,4.702679,4.868891,4.769867,6.919255,91.500000
std,0.308818,0.255504,0.239538,0.990792,1.631789,1.168317,2.535629,1.902797,1.388335,1.520615,...,1.337461,2.879924,0.977878,0.660809,3.361388,0.964482,2.254019,1.060287,14.994989,52.683014
min,0.003000,0.010000,0.011000,3.400000,0.050000,4.480000,-0.940513,0.130000,2.020000,2.250000,...,1.372522,-1.128499,3.652118,2.730000,-6.698552,1.675800,0.260000,2.717774,0.000000,1.000000
25%,0.135000,0.102000,0.044500,4.824416,5.624896,8.386646,4.052806,4.065000,5.135000,4.080000,...,7.017368,3.440618,5.180000,5.721074,0.000000,4.157296,3.236490,4.010850,4.000000,46.250000
50%,0.373000,0.169000,0.096000,5.483484,6.393604,8.949077,5.519734,5.025106,6.041385,5.031735,...,7.439856,5.316401,5.897546,5.953235,2.392234,4.700103,4.750249,4.776903,5.000000,91.500000
75%,0.682000,0.322000,0.244000,6.147837,7.437500,9.596289,7.411258,6.277500,7.107500,5.805000,...,8.000000,7.685331,6.305401,6.326448,3.446890,5.166518,6.270000,5.453524,7.000000,136.750000
max,0.992000,0.905000,0.879000,8.420000,11.037714,10.924050,10.000000,9.310000,9.360000,8.540000,...,10.404420,10.000000,8.187470,7.252726,10.000000,7.910000,9.930000,8.260000,99.000000,182.000000

In [14]:
df.shape

(182, 43)

In [18]:
df.columns

Index(['Entity', 'indiv_libs_vdem_owid', 'electdem_vdem_owid',
       'libdem_vdem_owid', 'Countries', 'Economic.Freedom.Summary.Index',
       'Government.consumption', 'Transfers.and.subsidies',
       'Government.investment', 'State.ownership.of.assets',
       'Size.of.Government', 'Judicial.independence', 'Impartial.courts',
       'Integrity.of.the.legal.system', 'Legal.enforcement.of.contracts',
       'Gender.Legal.Rights.Adjustment', 'Legal.System...Property.Rights',
       'Money.growth', 'Standard.deviation.of.inflation',
       'Inflation..Most.recent.year',
       'Freedom.to.own.foreign.currency.bank.accounts', 'Sound.Money',
       'Revenue.from.trade.taxes....of.trade.sector.', 'Tariffs',
       'Black.market.exchange.rates', 'Financial.Openness', 'Capital.controls',
       'Controls.of.the.movement.of.capital.and.people',
       'Freedom.to.trade.Internationally', 'Ownership.of.banks',
       'Private.sector.credit',
       'Interest.rate.controls.negative.real.interest.rates.',
       'Credit.market.regulations', 'Centralized.collective.bargaining',
       'Hours.Regulations', 'Conscription', 'Labor.market.regulations',
       'Impartial.Public.Administration', 'Regulation', 'alliance',
       'regimenarrowcat', 'Regime_type', 'id'],
      dtype='object')

In [23]:
df[(df.columns)[39]].nunique

<bound method IndexOpsMixin.nunique of 0      not a US ally
1      not a US ally
2      not a US ally
3      not a US ally
4            US ally
           ...
177    not a US ally
178    not a US ally
179    not a US ally
180    not a US ally
181    not a US ally
Name: alliance, Length: 182, dtype: object>

In [24]:
df[(df.columns)[39]].value_counts()

alliance
not a US ally    136
US ally           46
Name: count, dtype: int64

In [26]:
(df.groupby('Regime_type')).describe()

                               indiv_libs_vdem_owid                      \
                                              count      mean       std
Regime_type
Democracy                                      39.0  0.841462  0.204599
Military rule                                  34.0  0.272853  0.142028
Monarchy                                       13.0  0.357462  0.190659
Multi-party authoritarian rule                  6.0  0.609000  0.210711
Other oligarchy                                 4.0  0.218250  0.216649
Personalist rule                               20.0  0.390350  0.227198
Single-party rule                              40.0  0.264850  0.209088
unknown                                        21.0  0.337333  0.305038

                                                                       \
                                  min     25%     50%      75%    max
Regime_type
Democracy                       0.049  0.7910  0.9090  0.97250  0.992
Military rule                   0.078  0.1435  0.2440  0.37300  0.592
Monarchy                        0.118  0.2020  0.3800  0.40200  0.726
Multi-party authoritarian rule  0.336  0.4780  0.5795  0.78150  0.866
Other oligarchy                 0.099  0.1095  0.1155  0.22425  0.543
Personalist rule                0.003  0.2530  0.4000  0.54700  0.769
Single-party rule               0.006  0.0940  0.2080  0.36625  0.686
unknown                         0.012  0.0940  0.1710  0.57100  0.926

                               electdem_vdem_owid            ...  \
                                            count      mean  ...
Regime_type                                                  ...
Democracy                                    39.0  0.697615  ...
Military rule                                34.0  0.132794  ...
Monarchy                                     13.0  0.122000  ...
Multi-party authoritarian rule                6.0  0.270333  ...
Other oligarchy                               4.0  0.151500  ...
Personalist rule                             20.0  0.228100  ...
Single-party rule                            40.0  0.130475  ...
unknown                                      21.0  0.127619  ...

                               regimenarrowcat          id              \
                                           75%   max count        mean
Regime_type
Democracy                                  1.0   2.0  39.0   82.743590
Military rule                              7.0   7.0  34.0   88.029412
Monarchy                                   8.0   9.0  13.0   74.076923
Multi-party authoritarian rule             5.0   5.0   6.0  118.000000
Other oligarchy                           10.0  10.0   4.0  111.000000
Personalist rule                           6.0   6.0  20.0   83.800000
Single-party rule                          4.0   4.0  41.0   98.853659
unknown                                   99.0  99.0  25.0  103.560000


                                      std   min    25%    50%     75%    max
Regime_type
Democracy                       51.725855   7.0  43.00   76.0  114.00  171.0
Military rule                   53.595842   3.0  35.75  102.5  139.50  159.0
Monarchy                        38.953950   1.0  52.00   81.0  105.00  134.0
Multi-party authoritarian rule  41.060930  58.0  97.50  120.0  138.75  175.0
Other oligarchy                 69.928535  15.0  84.75  126.0  152.25  177.0
Personalist rule                40.627447  25.0  48.25   91.0  113.50  173.0
Single-party rule               57.112416   2.0  45.00  103.0  155.00  182.0
unknown                         58.679269   4.0  51.00  120.0  150.00  181.0

[8 rows x 312 columns]

In [28]:
df['libdem_vdem_owid_scaled'] = df['libdem_vdem_owid'].apply(lambda x: x*100)

In [29]:
df['libdem_vdem_owid']

0      0.104
1      0.055
2      0.065
3      0.035
4      0.086
       ...
177      NaN
178      NaN
179      NaN
180      NaN
181      NaN
Name: libdem_vdem_owid, Length: 182, dtype: float64

In [32]:
df['electdem_vdem_owid_scaled'] = df['electdem_vdem_owid']*100

In [36]:
df['electdem_vdem_owid_scaled']

0      16.0
1      17.3
2       8.4
3       1.0
4      10.5
       ...
177     NaN
178     NaN
179     NaN
180     NaN
181     NaN
Name: electdem_vdem_owid_scaled, Length: 182, dtype: float64

In [40]:
data = {'price': [100, 200, 150, 300], 'quantity':[5,2,1,3]}
df1 = pd.DataFrame(data)
# Apply a lambda function to calculate discounted price
df1['new_price'] = df1['price'].apply(lambda x: x * 0.9)
df1

   price  quantity  new_price
0    100         5       90.0
1    200         2      180.0
2    150         1      135.0
3    300         3      270.0

In [49]:
def classify_number(number):
    if number < 3:
        return 'small'
    elif number >= 3 and number < 5:
        return 'medium'
    else:
        return 'large'

In [50]:
classify_number(300)

'large'

In [53]:
df1['quantity_classify'] = df1['quantity'].apply(lambda x: classify_number(x))
df1

   price  quantity  new_price price_classify quantity_classify
0    100         5       90.0          large             large
1    200         2      180.0          large             small
2    150         1      135.0          large             small
3    300         3      270.0          large            medium

In [55]:
df1['new_price_classify'] = df1['price'].apply(classify_number)
df1

,price,quantity,new_price,price_classify,quantity_classify,new_price_classify
0,100,5,90.0,large,large,large
1,200,2,180.0,large,small,large
2,150,1,135.0,large,small,large
3,300,3,270.0,large,medium,large

In [56]:
def new_classify_number(number, lower, upper):
    if number < lower:
        return 'small'
    elif number >= lower and number < upper:
        return 'medium'
    else:
        return 'large'

In [57]:
new_classify_number(30,25,60)

'medium'

In [63]:
df1['quantity_classify'] = df1['quantity'].apply(lambda x: new_classify_number(x,2,5))
df1

,price,quantity,new_price,price_classify,quantity_classify,new_price_classify
0,100,5,90.0,large,large,large
1,200,2,180.0,large,medium,large
2,150,1,135.0,large,small,large
3,300,3,270.0,large,medium,large

In [64]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df2 = pd.DataFrame(data)

condition1 = df2['A'] < 3
function1 = lambda x: x * 2
condition2 = df2['A'] >= 3
function2 = lambda x: x + 5

df2['C'] = np.where(condition1, function1(df2['B']), function2(df2['B']))

print(df2)

   A   B   C
0  1  10  20
1  2  20  40
2  3  30  35
3  4  40  45
4  5  50  55

In [73]:
data = {'A': [1, 2, 3, 4, 5], 'B': [10, 20, 30, 40, 50]}
df3 = pd.DataFrame(data)

# Define the conditions and corresponding functions/logic
condition1 = df3['A'] < 3
def function(x,y):
    return x/y
    
condition2 = df3['A'] >= 3
function2 = lambda x: x + 5

# Apply the functions/logic based on conditions and create the new column
df3['C'] = np.where(condition1,function(df3['B'],df3['A']),function2(df3['B']))

print(df3)

   A   B     C
0  1  10  10.0
1  2  20  10.0
2  3  30  35.0
3  4  40  45.0
4  5  50  55.0